In [2]:
import gzip
import shutil
import numpy as np
import random
import pandas as pd

In [5]:
input_file = gzip.open('CHALLENGE_DATA/genotypes.txt.gz','r')

try:
    input_file.seek(0)
    partial = input_file.read(100)
    print(partial.decode("utf-8"))
finally:
    input_file.close()

1	91514	91515	rs376723915_A_C_0.426717	0	1	0	2	0	0	0	1	1	2	2	1	0	1	2	1	1	1	0	0	0	0	2	1	1	1	1	0	0	1	1

In [3]:
input_file = gzip.open('CHALLENGE_DATA/genotypes.txt.gz','r')
r_file = input_file.read()
data_l = r_file.decode("utf-8")

In [8]:
data_ll=data_l.split("\n")

In [9]:
len(data_ll)

20391

In [18]:
data_ll[-1]

''

In [15]:
l1=data_ll[-1].split('\t')

In [16]:
len(l1)

1

In [17]:
l1

['']

In [12]:
len(data_ll)

61231171

In [14]:
20390*3004-61231171

20389

In [13]:
f1 = open("CHALLENGE_DATA/genotype_sample_ids.list", "r")
f1_c = f1.read()
# print(f1_c)

f1.close()

In [12]:
xx = np.load('train_x.npy')

In [3]:
idxs = [i for i in range(10)]

In [10]:
random.shuffle(idxs)

In [11]:
idxs

[8, 7, 4, 3, 1, 0, 9, 2, 5, 6]

In [23]:
data = pd.read_csv("../TenSEAL_Learn/framingham.csv")

In [24]:
data = data.dropna()

In [27]:
data = data.drop(columns=["education", "currentSmoker", "BPMeds", "diabetes", "diaBP", "BMI"])
grouped = data.groupby('TenYearCHD')

In [30]:
    data = grouped.apply(lambda x: x.sample(grouped.size().min(), random_state=73).reset_index(drop=True))

In [31]:
data

                male  age  cigsPerDay  prevalentStroke  prevalentHyp  totChol  \
TenYearCHD
0          0       1   35        20.0                0             0    223.0
           1       1   43         0.0                0             0    200.0
           2       1   46         0.0                0             1    185.0
           3       0   63         0.0                0             1    281.0
           4       0   59         0.0                0             0    292.0
...              ...  ...         ...              ...           ...      ...
1          552     1   65         0.0                1             1    266.0
           553     1   52         0.0                1             0    202.0
           554     0   57         0.0                0             1    432.0
           555     1   45        20.0                0             0    264.0
           556     1   60        20.0                0             1    269.0

                sysBP  heartRate  glucose  TenYearCHD
TenYearCHD
0          0    128.0       80.0     67.0           0
           1    133.0       55.0     71.0           0
           2    121.0       80.0     97.0           0
           3    135.0       63.0     68.0           0
           4    114.0       68.0     72.0           0
...               ...        ...      ...         ...
1          552  140.0       80.0     77.0           1
           553  136.0       83.0     67.0           1
           554  153.0       98.0     75.0           1
           555  118.5       75.0     90.0           1
           556  170.0       60.0     83.0           1

[1114 rows x 10 columns]

In [18]:
yy = np.load('train_y.npy')

In [19]:
yy[0]

array([ 0.02397521, -0.09198061, -0.05866303, ..., -0.0763017 ,
       -0.15101802, -0.0601022 ])

In [13]:
yy[0] = (yy[0] - yy[0].mean()) / yy[0].std()

In [14]:
yy[0]

array([ 0.98037154, -0.51608596, -0.08610897, ..., -0.31374324,
       -1.27798805, -0.10468203])

In [20]:
for y in yy:
    y = (y-y.mean())/y.std()

In [21]:
yy

array([[ 0.02397521, -0.09198061, -0.05866303, ..., -0.0763017 ,
        -0.15101802, -0.0601022 ],
       [ 0.2772985 , -0.05162873, -0.18412147, ..., -0.65846191,
        -0.18874262, -0.05892341],
       [-0.77562048, -0.56495348, -0.72443017, ...,  0.40280716,
        -0.4976993 , -0.6083261 ],
       [ 1.        ,  1.        ,  1.        , ...,  1.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])